<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>AdvancedLibrarySystem</display-name>
  <filter>
   <filter-name>CorsFilter</filter-name>
   <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
 </filter>
 <filter-mapping>
   <filter-name>CorsFilter</filter-name>
   <url-pattern>/*</url-pattern>
 </filter-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>home</servlet-name>
    <servlet-class>com.bam.servlets.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>message</servlet-name>
    <servlet-class>com.bam.servlets.MessageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>book</servlet-name>
    <servlet-class>com.bam.servlets.BookDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>book</servlet-name>
    <url-pattern>/book_detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>profile</servlet-name>
    <servlet-class>com.bam.servlets.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profile</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>message</servlet-name>
    <url-pattern>/message_inbox</url-pattern>
    <url-pattern>/message_outbox</url-pattern>
    <url-pattern>/message_compose</url-pattern>
    <url-pattern>/message_delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jersey Rest Service</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.jersey.config.property.packages</param-name>
      <param-value>com.bam.rest</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Rest Service</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>bookfilter</filter-name>
    <filter-class>com.bam.filters.BookDetailsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>bookfilter</filter-name>
    <url-pattern>/book_detail/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>profilefilter</filter-name>
    <filter-class>com.bam.filters.StudentProfileFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>profilefilter</filter-name>
    <url-pattern>/profile/*</url-pattern>
  </filter-mapping>
   
</web-app>